<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Assign Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="background: #FAEBD7">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div style="justify-content: center; align-items: center">
    <div class="d-flex justify-content-center">
        <div class="container-xl  justify-content-center" style="background:white; height: 900px; border-radius: 20px; margin: 50px; justify-content: center; align-items: center;border-color: sandybrown">
            <form th:action="@{/store/} + ${store.id} + @{/assign-boba/}" th:object="${storeBoba}" method="POST">
                <input type="hidden" th:field="${store}" />
                <div style="justify-content: center; align-items: center">
                    <h2 class="text-center" th:text="'Add Boba to ' + ${store.name}"></h2>
                </div>
                <br>
                <table class="table">
                    <thead>
                    <tr style="background: #6D4C41;color: white">
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Ice</th>
                        <th>Sugar</th>
                        <th>Topping</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="boba, iterationStatus : ${listBoba}"
                        th:style="${iterationStatus.even} ? 'background: #F5F5DC;'">
                        <td>
                            <input type="checkbox" name="boba" th:value="${boba.id}" th:checked="${listChecker[iterationStatus.index]}">
                        </td>
                        <td th:text="${boba.name }"></td>
                        <td th:text="${boba.price}"></td>
                        <td th:if="${boba.size} == 0">S</td>
                        <td th:if="${boba.size} == 1">M</td>
                        <td th:if="${boba.size} == 2">L</td>
                        <td th:if="${boba.ice_level} == 0">Less</td>
                        <td th:if="${boba.ice_level} == 1">Normal</td>
                        <td th:if="${boba.ice_level} == 2">Extra</td>
                        <td th:if="${boba.sugar_level} == 0">Less</td>
                        <td th:if="${boba.sugar_level} == 1">Normal</td>
                        <td th:if="${boba.sugar_level} == 2">Extra</td>
                        <td th:text="${boba.topping.name}"></td>
                    </tr>
                    </tbody>
                </table>
                <br><br>
                <div>
                    <input class="btn btn-primary" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>