<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Delete Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="background: #FAEBD7">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Delete Store</h2>
                <br>
                <form th:action="@{/store/delete}" th:object="${store}" method="POST">
                    <input type="hidden" name="jamBuka" th:value="${store.open_hour}" />
                    <input type="hidden" name="jamTutup" th:value="${store.close_hour}" />
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{name}" />
                    <h4>Apakah anda yakin untuk menghapus store ini?</h4>
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-outline-primary" th:href="@{/store}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>