<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>View Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="background: #FAEBD7">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Store Detail</h2>
                <br>
                <p th:text="'Store Name : ' + ${store.name}"></p>
                <p th:text="'Address : ' + ${store.address}"></p>
                <p th:text="'Open Hour : ' + ${store.open_hour}"></p>
                <p th:text="'Close Hour : ' + ${store.close_hour}"></p>
                <p th:text="'Store Code : ' + ${store.store_code}"></p>
                <div th:if="*{listBoba.size() != 0}">
                    <table class="table">
                        <thead>
                        <tr style="background: #6D4C41;color: white">
                            <th>No</th>
                            <th>Name</th>
                            <th>Topping</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="boba, iterationStatus : ${listBoba}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                            <td th:text="${iterationStatus.index+1}"></td>
                            <td th:text="${boba.name}"></td>
                            <td th:text="${boba.topping.name}"></td>
                            <td th:text="'Rp' + ${boba.price}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:unless="*{listBoba.size() != 0}">
                    <h2 th:text="'No Boba Assigned'"></h2>
                </div>
                    <a class="btn btn-warning" th:href="@{/store/} + ${store.id} + @{/assign-boba/}">+ Add Boba to Store</a>
                <br>

            </div>
        </div>
    </div>
</div>

</body>

</html>